In [3]:
pip install postgres

Requirement already satisfied: postgres in /Users/kylagelev/opt/anaconda3/lib/python3.8/site-packages (3.0.0)
Requirement already satisfied: psycopg2-pool in /Users/kylagelev/opt/anaconda3/lib/python3.8/site-packages (from postgres) (1.1)
Requirement already satisfied: psycopg2-binary>=2.8 in /Users/kylagelev/opt/anaconda3/lib/python3.8/site-packages (from postgres) (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import os
import pandas as pd

In [9]:
password = os.environ.get('DB_PASS')

In [10]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/EmployeeSQL')
conn = engine.connect()

In [11]:
data = pd.read_sql("SELECT * FROM salaries", conn)

In [12]:
data.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228